@import "variables";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import "profile";
@import "feed";


.navbar {
  color: #fff;
}



body {
    background-color: rgb(187, 202, 201);
}

.btn-color{
    background-color: #0e1c36;
    color: #fff;
  }
  
  .profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  
  .cardbody-color{
    background-color: #ebf2fa;
  }
  
  a{
    text-decoration: none;
  }

  .bi {
    font-size: 7rem;
    text-align: center;
  }